.page-margin {
  margin-left: 12rem;
}
.page-heading {
  font-size: 3rem;
  text-align: center;
}
.contact-page-container {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  width: 90%;
  overflow: hidden;
  gap: 4rem;
  height: 100vh;
}

.contacts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  width: 100%;
  padding: 10px;
}

.create-btn-container {
  width: 100%;
  text-align: center;
}

.create-btn-container a {
  background-color: #646cff;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
}

.contact-page {
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 1020px) {
  .contact-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .contact-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .contact-page {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}
