.navbar {
  width: 100%;
  padding: 10px 50px;
  background-color: rgb(70, 70, 70);
  color: #ffffeb;
  height: 80px;
  display: flex;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 640px) {
  .navbar {
    width: 150px;
    height: 100vh;
    position: fixed;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
    font-size: 1.5rem;
  }
}
